<div fluiCard [formGroup]="fakeForm">
  <h3 fluiCardHeader>Radio Control</h3>
  <flui-radio
    name="favFood"
    label="Burger"
    radioValue="burger"
    formControlName="favFood"></flui-radio>
  <flui-radio
    name="favFood"
    label="Pizza"
    radioValue="pizza"
    formControlName="favFood"></flui-radio>

  <flui-button
    variant="primary"
    [disabled]="!fakeForm.valid"
    (isClicked)="isBtnClicked($event)"
    text="Register"></flui-button>
</div>

<div fluiCard>
  <pre style="margin: 0">value => {{ fakeForm.value | json }}</pre>
  <pre style="margin-bottom: 0">Valid => {{ fakeForm.valid | json }}</pre>
</div>
