<flui-card>
  <flui-card-header>
    <flui-card-title>Alert Component</flui-card-title>
  </flui-card-header>
  <flui-card-content>

    <flui-alert>
      A simple default alert, check it out!
    </flui-alert>

    <flui-alert variant="primary">
      A simple primary alert alert, check it out!
    </flui-alert>

    <flui-alert variant="success">
      A simple primary success alert, check it out!
    </flui-alert>

    <flui-alert variant="warning">
      A simple primary warning alert, check it out!
    </flui-alert>

    <flui-alert variant="danger">
      A simple primary danger alert, check it out!
    </flui-alert>

  </flui-card-content>
</flui-card>
