<div class="app-logo">
  <img src="./assets/images/logo.svg" alt="">
</div>

<nav class="app-sidenav">
  <div class="nav-list" *ngIf="componentsLinks.length > 0">
    <ng-container *ngFor="let item of componentsLinks">
      <p *ngIf="item?.heading" class="nav-group">{{ item.title }}</p>
      <div class="nav-list-item" *ngIf="!item?.heading">
        <a [routerLink]="item.link" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:true}">
          {{item.title}}
        </a>
      </div>
    </ng-container>
  </div>
</nav>
