<flui-card [formGroup]="fakeForm">
  <flui-card-header>
    <flui-card-title>Textarea Component</flui-card-title>
  </flui-card-header>
  <flui-card-content>

    <flui-textarea
      label="About User"
      placeholder="Enter User Bio..."
      [errorMessages]="errorMessages"
      formControlName="aboutUser"></flui-textarea>

    <flui-textarea
      label="User Bio"
      placeholder="Enter User Bio..."
      [errorMessages]="errorMessages"
      [disabled]="true"
      formControlName="userBio"></flui-textarea>

  </flui-card-content>

  <flui-card-actions>
    <flui-button
      variant="primary"
      [disabled]="!fakeForm.valid"
      (isClicked)="isBtnClicked($event)"
      text="Register"></flui-button>

    <flui-button
      variant="danger"
      [disabled]="fakeForm.get('aboutUser')?.value === ''"
      (isClicked)="isClearFormClicked()"
      text="Clear"></flui-button>

  </flui-card-actions>
</flui-card>

<flui-alert>
  <pre style="margin: 0">value => {{ fakeForm.value | json }}</pre>
</flui-alert>

<flui-alert [variant]="formValidity">Form Valid => {{ fakeForm.valid | json }}</flui-alert>
