<flui-card [formGroup]="fakeForm">
  <flui-card-header>
    <flui-card-title>Selectbox Component</flui-card-title>
  </flui-card-header>
  <flui-card-content>

    <flui-selectbox
      label="Select Food"
      formControlName="favFood"
      [errorMessages]="errorMessages"
      [options]="options"></flui-selectbox>

    <flui-selectbox
      label="Select Gender"
      formControlName="gender"
      [disabled]="true"
      [required]="true"
      [options]="genderList"></flui-selectbox>

  </flui-card-content>

  <flui-card-actions>
    <flui-button
      variant="primary"
      [disabled]="!fakeForm.valid"
      (isClicked)="isBtnClicked($event)"
      text="Register"></flui-button>

  </flui-card-actions>
</flui-card>

<flui-alert>
  <pre style="margin: 0">value => {{ fakeForm.value | json }}</pre>
</flui-alert>

<flui-alert [variant]="formTouched">Touched => {{ fakeForm.touched | json }}</flui-alert>

<flui-alert [variant]="formValidity">Form Valid => {{ fakeForm.valid | json }}</flui-alert>
